.div-app-header {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-header {
    height: 40px;
}

@media screen and (max-width: 480px){
    .div-app-header{
        margin: 20px;
    }
}