ul {
    display: flex;
    margin-top: 5px;
}
li {
    margin-right: 10px;
    list-style: none;
    font-family: $font-family;
    margin-left: 20px;
}

@media screen and (max-width: 480px){
    li{
       font-size: 12px;
       margin: 5px;
       text-transform: uppercase;
    }
}