.div-tag {
    width: 115px;
    height: 25px;
    background-color: $primary-color;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;
} 

@media screen and (max-width: 375px){
    .div-tag{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
    }
}