.erreur-404 {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .erreur-404-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $primary-color;
        .p-404 {
            font-size: 288px;
            font-family: $font-family;
            font-style: normal;
            font-weight: 700;
            font-size: 288px;
            line-height: 142.6%;
        }
        .p-404-text {
            font-size: 36px;
            margin-bottom: 100px;
        }
    }
    .back-to-home {
        margin-bottom: 50px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 375px){
    .erreur-404{
        margin-top: 100px;
        .erreur-404-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .p-404 {
                font-size: 96px;
            }
            .p-404-text {
                font-size: 18px;
                text-align: center;
            }
        }
        .back-to-home {
            font-size: 14px;
        }
    }
}